/* 
    Created on : 13/11/2022, 23:25:48
    Author     : ccari
*/

html{
    min-width: 250px;
}
@keyframes animacao{

    0%{
        background-color:#3d009e;
    }
    50%{
        background-color:#1b3ea4;
    }
 
    100%{
        background-color:#3d009e;
    }

}

.navbar{
    background-color: #3d009e;

}
.lightest-bg {
    background-color: #d2d2d2;
}
.lightest-txt {
    color: #d2d2d2;
}
.middle-bg {
    background-color: #3d009e;
    animation-name: animacao;
    animation-duration: 9s;
}
.middle-txt {
    color: #737373;
}
.darkest-bg {

}
.darkest-txt {
    color: #d2d2d2;
}
#img-java{

    position: absolute;
    top: 1410px;
    left: 210px;
}
.hide{
    display: none;
}

.container .botao{
    background-color: #3363d6;
    margin: 0.9rem 0 0.5rem;
    color: white;
    box-shadow: 10px 3px 9px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 3px 9px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 3px 9px 0px rgba(0,0,0,0.69);
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    font-size: 25px;
    font-weight: bolder;

}
.logos{
    padding-top: 1px;
    margin-top: 9px;
}
.local1 a{
    color:#e8e8e8;
    Text-decoration: underline;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.hardskills{
    background-color: #d5d5d5;
    border-color: #338cff;
    border: 2px;
    text-align: center;
    padding: 0px;
}

.container .botao .alteracor {
    color: white;
    box-shadow: 2px 2px #331E4D;
    border-radius: 10%;
    background-color: green;
}